.header {
  border-bottom: $s2 solid $dark-blue;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin: 0 $s192;
}

.content {
  display: flex;
  flex-direction: row;
}
