.container {
  display: flex;
  flex-direction: column;
  gap: $s20;
  align-items: center;
  justify-content: center;

  min-height: $s128;
  padding: $s12 $s20;

  background-color: $white;
  border: $s4 solid $dark-blue;
  border-radius: $s12;
  box-shadow: 0 $s4 $s8 rgb(0 0 0 / 10%);

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 $s8 $s16 rgb(0 0 0 / 20%);
  }

  h4 {
    font-size: 1.25rem;
    color: $dark-gray;
    text-align: center;
    transition: color 0.3s ease;

    &:hover {
      color: $dark-blue;
    }
  }
}
