.posts {
  display: flex;
  flex-direction: column;
  gap: $s40;

  padding: $s40 0;

  text-align: center;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: $s40;
}
